<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img class="logo-bod" src="img/logoBod.jpg" alt="LogoBody">
  </div>
  <div class="headings">
    <h2>Something Pet Store</h2>
    <h3>need a buddy?</h3>
    <a href="/pets" class="btn">View Pets</a>
  </div>
</header>


<div class="container-1">
  
  <h3></h3>
</div>
<div class="container-2">
  <h2</h2>
</div>





<%- include('partials/footer'); -%>