<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="img/dog1.jpg" style="border-radius: 50%;" alt="smoothie recipe icon">
    <h4>Courage</h4>
  
  </li>
  <li class="recipe">
    <img src="img/dog2.jpeg " style="border-radius: 50%;" alt="smoothie recipe icon">
    <h4>Scooby</h4>
 
  </li>
  <li class="recipe">
    <img src="img/dog3.jpg" style="border-radius: 50%;" alt="smoothie recipe icon">
    <h4>Snoopy</h4>
   
  </li>
  <li class="recipe">
    <img src="img/pet4.jpg" style="border-radius: 50%;" alt="smoothie recipe icon">
    <h4>chomusuke</h4>
  
  </li>
  <li class="recipe">
    <img src="img/pet5.jpg" style="border-radius: 50%;" alt="smoothie recipe icon">
    <h4>Jiji</h4>
   
  </li>
  <li class="recipe">
    <img src="img/pet6.png"style="border-radius: 50%;" alt="smoothie recipe icon">
    <h4>korin</h4>
   
  </li>
</ul>

<%- include('partials/footer'); -%>